<% provide :title, '' %>
<% provide :description, '' %>
<% provide :keywords, '' %>
<% provide :ld_json, {} %>

<section id="presenter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class='text-center'>
					<%= image_tag('railsonsb.png', class: '', width: 192, height: 192) %>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content'>
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class='col-md-8 col-md-offset-2'>
					<div class="row">
						<div class="col-md-12 text-center">
							<h1 class='bold'>Sobre o Rails on SB</h1>
							<p>Esse grupo é destinado a todos que desejam aprender e difundir
							conhecimento sobre Ruby & Rails, fazer networking e amigos. Teremos
							(por enquanto) dois tipos de eventos:</p>
						</div>
					</div>
					<br>

					<div class="row">
						<div class="col-md-12">
							<div class='panel panel-default'>
								<div class='panel-body'>
									<h1 class='bold'>Hacking Sessions</h1>
									<p>A melhor maneira de se tornar um desenvolvedor melhor é praticando.
									Nas Hacking Sessions iremos trabalhar em equipe para resolver um desafio
					  			proposto.</p>

					  			<%= link_to '',
					  				class: 'btn btn-primary btn-lg top rails-btn' do %>
					  				<i class="fas fa-code"></i>
					  				Acessar
					  			<% end %>
					  		</div>
					  	</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class='panel panel-default'>
								<div class='panel-body'>
									<h1 class='bold'>Lighting talks:</h1>
									<p>Palestras curtas e objetivas (maximo 15 min). Iniciantes terão oportunidade
									de treinar seus skills de apresentação</p>

									<%= link_to '',
										class: 'btn btn-primary btn-lg top rails-btn' do %>
										<i class="fab fa-digital-ocean"></i>
										Acessar Conteúdo
									<% end %>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<%= link_to 'https://meetup.com/pt-BR/railsonsb',
							  class: 'btn btn-primary btn-lg top rails-btn' do %>
							  Junte-se a nós
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>