<%= provide :title, '' %>
<%= provide :description, '' %>
<%= provide :keywords, '' %>
<%= provide :ld_json, {} %>

<section id="presenter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<%= image_tag('railsonsb.png', class: '', width: 192, height: 192) %>
					<h1 class='bold'>Rails on SB</h1>
					<p>Comunidade de Usuários Ruby (Rails, Sinatra, Hanami, mRuby, etc)
					de São Borja - RS.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content'>
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="col-md-8 col-md-offset-2">
					<div class="row">
						<div class="col-md-12">
							<h1 class='bold text-center'>Branding</h1>
						  <hr>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class='panel panel-default'>
								<div class='panel-body'>
									<h2 class="bold">Marca/Logo</h2>
									<p>Caso precise da nossa marca/logo para divulgação ou algo do
									gênero, você pode encontrar no repositório branding no GitLab</p>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class='panel panel-default'>
								<div class='panel-body'>
									<h2 class="bold">Template Slides</h2>
									<p>Está preparando uma talk? para nosso próximo meetup? Fique à vontade
									para usar nosso template de slides.</p>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="jumbotron">
								<h2 class='text-center uppercase'>Em Breve</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>