<% provide :title, '' %>
<% provide :description, '' %>
<% provide :keywords, '' %>
<% provide :ld_json, {} %>

<section id="presenter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<%= image_tag('railsonsb.png', class: '', width: 192, height: 192) %>
					<h1 class='bold'>Rails on SB</h1>
					<p>Comunidade de Usuários Ruby (Rails, Sinatra, Hanami, mRuby, etc)
					de São Borja - RS.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content'>
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class='col-md-8 col-md-offset-2'>
					<div class="row">
						<div class="col-md-12 text-center">
							<h1 class='bold'>Contribua</h1>
						  <p>Quer saber como contribuir para o nosso grupo de meetups</p>
						  <hr>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class='panel panel-default'>
								<div class='panel-body'>
									<h2 class='bold'>1º passo - Meetup.com</h2>
									<p>Cadastre-se no Meetup e ingresse no nosso grupo.</p>

									<%= link_to '',
										class: 'btn btn-primary btn-lg top rails-btn' do %>
										<i class="fab fa-meetup"></i>
										Ir para o Meetup
									<% end %>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class='panel panel-default'>
								<div class='panel-body'>
									<h2 class='bold'>2º passo - Slack</h2>
									<p>Entre em nosso Slack para participar das discussões e da comunidade.</p>

									<%= link_to 'https://join.slack.com/t/railsonsb/shared_invite/zt-pskjwcgy-uSc~rR35IzOpxBq9kfjnOg',
										class: 'btn btn-primary btn-lg top rails-btn' do %>
										<i class="fab fa-slack"></i>
										Entrar para o Slack
									<% end %>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class='panel panel-default'>
								<div class='panel-body'>
									<h2 class='bold'>3º Passo - Gitlab e Github</h2>
									<p>Temos repositórios nos dois!</p>

									<ul class="list-unstyled list-inline">
										<li>
											<%= link_to 'https://github.com/Rails-on-SB',
												class: 'btn btn-primary btn-lg top rails-btn' do %>
													<i class="fab fa-github"></i>
													Github
											<% end %>
										</li>
										<li>
											<%= link_to 'https://gitlab.com/renatorfranco18/rails-on-sb',
												class: 'btn btn-primary btn-lg top rails-btn' do %>
													<i class="fab fa-gitlab"></i>
													GitLab
											<% end %>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<p>Este site que você esta acessando utiliza Jekill e
							qualquer um pode contribuir, dê uma olhada no repositório
						  no GitLab. Temos alguns desafios no GitHub, caso queira treinar algum ou
						  contribuir adicionado mais desafios.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>