<% provide :title, '' %>
<% provide :description, '' %>
<% provide :keywords, '' %>
<% provide :ld_json, {} %>

<section id="presenter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<%= image_tag('railsonsb.png', class: '', width: 192, height: 192) %>
					<h1 class='bold'>Rails on SB</h1>
					<p>Comunidade de Usuários Ruby (Rails, Sinatra, Hanami, mRuby, etc)
					de São Borja - RS.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content'>
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class='col-md-8 col-md-offset-2'>
					<div class="row">
						<div class="text-center">
							<h1 class='bold'>Artigos e Meetups</h1>
							<hr>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<% @posts.each do |post| %>
								<div class="col-md-12">
									<div class="panel panel-default">
										<div class="panel-body">
											<span class='pull-right bold uppercase'>
												<i class="far fa-clock"></i>
												<%= time_ago_in_words(post.created_at) %>
											</span>
											<h3 class='bold'><%= link_to post.title, post_path(post.id) %></h3>
											<p><%= truncate(post.content, length: 245) %></p>
										</div>
									</div>
								</div>
							<% end %>

							<% if @posts.empty? %>
								<div class="well">
									<p class="text-center">
										Nenhuma post/arquivo encontrado :(
									</p>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>