<%= provide :title, '' %>
<%= provide :description, '' %>
<%= provide :keywords, '' %>
<%= provide :ld_json, {} %>

<section id="presenter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<%= image_tag('railsonsb.png', class: '', width: 192, height: 192) %>
					<h1 class='bold'>Rails on SB</h1>
					<p>Comunidade de Usuários Ruby (Rails, Sinatra, Hanami, mRuby, etc)
					de São Borja - RS.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content'>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br>

				<div class='col-md-8 col-md-offset-2'>
					<div class='row'>
						<%= form_for(:search, { url: '', method: :get }) do |f| %>

							<div class="field col-md-10">
								<%= f.search_field :search, class: 'form-control',
								required: 'required', placeholder: 'O que você está buscando?',
								style: 'height: 45px;' %>
							</div>

							<div class="actions col-md-2">
								<%= f.submit 'Buscar',
								class: 'btn btn-primary btn-lg top rails-btn',
								style: 'margin-left: -20px;' %>
							</div>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>