<% provide :title, @post.title %>
<% provide :description, @post.description %>
<% provide :keywords, @post.tags %>
<% provide :ld_json, {} %>

<section id="presenter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<%= image_tag('railsonsb.png', class: '', width: 140, height: 140) %>
					<h1 class='bold'>Rails on SB</h1>
					<p>Comunidade de Usuários Ruby (Rails, Sinatra, Hanami, mRuby, etc)
					de São Borja - RS.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id='content'>
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div id="tags" style='padding-top: 40px; margin-left: 20px;'>
					<div class="row">
						<div class="col-md-12">
							<% @post.tags.split('#').each do |tag| %>
								<span class='bold' style='text-transform: uppercase;'><%= tag %></span>
							<% end %>
						</div>
					</div>
				</div>

				<div id="title">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1 class='bold'><%= @post.title %></h1>
							<hr>
						</div>
					</div>
				</div>

				<div id="content">
					<div class="row">
						<div class="col-md-3">

              <div class="col-md-12">
              	<div class='panel panel-default'>
              		<div class='panel-body text-center'>
              			<%= image_tag('railsonsb.png', class: '', width: 124, height: 124) %>
              		</div>
              	</div>
              </div>

              <div class="col-md-12">
              	<div class="panel panel-default">
              		<div class="panel-body">
              			<ul class='nav nav-pills nav-stacked'>
              				<li>
              					<i class="fas fa-user-astronaut"></i>
              					<span class='bold'><%= @post.user.name %></span>
              				</li>
              				<li>
              					<i class="far fa-calendar-alt"></i>
              					<%= time_ago_in_words(@post.created_at) %>
              				</li>
              				<li>
              					<i class="far fa-comments"></i>
              					<%= rand(1..15) %> Comentários
              				</li>
              				<li>
              					<i class="fab fa-twitter"></i>
              					Tweetar
              				</li>
              				<li>
              					<i class="fas fa-thumbs-up"></i>
              					Curtir
              				</li>
              				<li>
              					<i class="fab fa-google-plus"></i>
              					+1
              				</li>
              			</ul>
              		</div>
              	</div>
              </div>
						</div>

						<div class="col-md-9">
							<div class="col-md-12">
								<%= @post.content %>
							</div>

							<hr>
							<div class="col-md-12" style='margin-top: 30px;'>
								<div id="disqus_thread"></div>
								<script>
								    /**
								    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
								    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
								    /*
								    var disqus_config = function () {
								    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
								    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
								    };
								    */
								    (function() { // DON'T EDIT BELOW THIS LINE
								    var d = document, s = d.createElement('script');
								    s.src = 'https://rails-on-sb.disqus.com/embed.js';
								    s.setAttribute('data-timestamp', +new Date());
								    (d.head || d.body).appendChild(s);
								    })();
								</script>
								<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>