<%= form_for(contact, { url: contact_path, method: :post }) do |f| %>
	<%= has_errors?(contact) %>

	<div class="field">
		<%= f.label :name, 'Nome Completo' %>
		<%= f.phone_field :name, class: 'form-control', required: 'required',
		placeholder: 'Digite o nome', autocomplete: 'off' %>
	</div>

	<div class="field">
		<%= f.label :email, 'E-mail' %>
		<%= f.email_field :email, class: 'form-control', required: 'required',
		placeholder: 'Digite o e-mail', autocomplete: 'off' %>
	</div>

	<div class="field">
		<%= f.label :message, 'Mensagem' %>
		<%= f.text_area :message, class: 'form-control', required: 'required',
		placeholder: 'Digite a mensagem', autocomplete: 'off' %>
	</div>

	<div class="field">
		<%= recaptcha_tags %>
	</div>

	<div class="actions"><br>
		<%= f.submit nil, class: 'btn btn-primary btn-lg top' %>
	</div>
<% end %>