<% provide :title, '' %>
<% provide :description, '' %>
<% provide :keywords, '' %>
<% provide :ld_json, {} %>

<section id='content'>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<%= render 'contact', contact: @contact %>
			</div>
		</div>
	</div>
</section>