/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

 body {
 	position: relative;
 	font-size: 16px;
 }

 .bold {
 	position: relative;
 	font-weight: bold;
 }

 header {

 	.navbar-default {
 		position: relative;
 		background-color: #EEE;

 		.navbar-brand {
 			position: relative;
 			font-weight: bold;
 		}
 	}
 }

.uppercase {
 position: relative;
 text-transform: uppercase;
 color: #BBB;
}

.rails-btn {
	background-color: transparent;
	border: 2px solid #bb3821;
	color: #bb3821;
	cursor: normal;
	transition: 0.5s;
	font-weight: bold;
	border-radius: 25px;

	&.hover, &:hover {
		position: relative;
		cursor: pointer;
		transition: 0.5s;
		background-color: #bb3821;
		border: 2px solid #bb3821;
	}
}

#presenter {
 position: relative;
 background-color: #EEE;
 margin-top: -20px;
 padding-top: 70px;
 padding-bottom: 70px;
}

footer {
	position: relative;
	margin-top: 50px;
	background-color: #EEE;
	padding-top: 40px;
	padding-bottom: 40px;

	i {
		position: relative;
		margin-top: 10px;
		margin-right: 5px;
	}
}

footer {
	position: relative;
	background-color: #bb3821;
	color: #FFF;

	i {
		position: relative;
		font-weight: bold;
		font-size: 19px;
		color: #EEE;
	}

	.inner {
		li {
			position: relative;
			background-color: #aa331e;
			padding: 5px 10px 10px 10px;
		}

		a {
			position: relative;
			font-weight: normal;
			color: #FFF;
		}
	}
}