<footer id='footer'>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6 col-md-offset-3 text-center">
					<ul class='list-unstyled list-inline inner'>
						<li>
							<%= link_to 'https://github.com/railsonsb' do %>
								<i class="fas fa-user-astronaut"></i>
								Código de conduta
							<% end %>
						</li>
						<li>
							<%= link_to 'https://meetup.com/pt-BR/railsonsb' do %>
								<i class="fab fa-meetup"></i>
								Meetup
							<% end %>
						</li>
						<li>
							<%= link_to 'https://slack.com/railsonsb' do %>
								<i class="fab fa-slack"></i>
								Slack
							<% end %>
						</li>
					</ul>

					<p>&copy <%= Date.today.year %>
					Rails on SB. Feito por <span class='bold'>Renato Franco</span></p>
					<ul class='list-unstyled list-inline'>
						<li>
							<%= link_to 'https://twitter.com/railsonsb' do %>
								<i class="fab fa-twitter"></i>
							<% end %>
						</li>
						<li>
							<%= link_to 'https://facebook.com/railsonsb' do %>
								<i class="fab fa-facebook-square"></i>
							<% end %>
						</li>
						<li>
							<%= link_to 'https://instagram.com/railsonsb' do %>
								<i class="fab fa-instagram"></i>
							<% end %>
						</li>
						<li>
							<%= link_to 'https://github.com/railsonsb' do %>
								<i class="fab fa-github"></i>
							<% end %>
						</li>
						<li>
							<%= link_to 'https://youtube.com/railsonsb' do %>
								<i class="fab fa-youtube"></i>
							<% end %>
						</li>
						<li>
							<%= link_to '/rss' do %>
								<i class="fas fa-rss"></i>
							<% end %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>