<header>
	<nav class="navbar navbar-default">
  <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to root_path,
      	class: 'navbar-brand' do %>
      		<%= image_tag('railsonsb.png', class: '', width: 30, height: 30) %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
   			<li><%= link_to 'Início', root_path %></li>
   			<li><%= link_to 'Sobre', about_path %></li>
   			<li><%= link_to 'Blog', blog_path %></li>
   			<li><%= link_to 'Contribua', contribute_path %></li>
   			<li><%= link_to 'Branding', branding_path %></li>
   			<li><%= link_to 'Vagas', jobs_path %></li>
   			<li><%= link_to 'Pesquisa', search_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>