<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Rails On SB</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type='text/css'><%= yield :css %></style>
    <script type="text/javascript"><%= yield :js %></script>
    <script type="application/ld+json"><%= yield :ld_json %></script>
    <script src="https://kit.fontawesome.com/5165849ba2.js" crossorigin="anonymous"></script>
  </head>
  <body class="<%= controller.controller_name %>" data-spy="scroll">
    <%= render partial: 'layouts/header' %>
      <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
